<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Chauffeurs</title>
<style type="text/css">
    span-view {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>

</head>

<body>
	<!-- START PAGE CONTENT-->
	<div class="page-content fade-in-up" data-layout-fragment="content">
		
		<div class="page-heading">
                <h1 class="page-title">Chauffeurs</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/}"><i class="ti-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Commercial</li>
                    <li class="breadcrumb-item">Chauffeurs</li>
                </ol>
         </div>
            
		<br></br>
		
		<div class="ibox">
			<div class="ibox-head">
				<div class="ibox-title">Liste Chauffeurs</div>
			</div>
			<div class="ibox-body">
				<a class="btn btn-rounded btn-primary btn-air"
					th:href="@{chauffeurs/addChauffeur}">Ajouter Chauffeur</a> <br></br>
				<table class="table table-striped table-bordered table-hover"
					id="example-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>N° Permis</th>
							<th>Type Permis</th>
							<th>Date Obtenation</th>
							<th width="125px">Option</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>N° Permis</th>
							<th>Type Permis</th>
							<th>Date Obtenation</th>
							<th width="125px">Option</th>
						</tr>
					</tfoot>
					<tbody>


						<tr th:each="chauffeur : ${chauffeurs}">
							<td th:text="${chauffeur.nom}"></td>
							<td th:text="${chauffeur.prenom}"></td>
							<td th:text="${chauffeur.permis}"></td>
							<td th:text="${chauffeur.typePermis}"></td>
							<td th:text="${chauffeur.dateObtention}"></td>
							<td>
							
							<a class="text-info mr-3 font-16 vBtn"
								href="javascript:;" data-toggle="modal" data-target="#myModal"
								th:attrappend="data-target=${chauffeur.id}"><i class="ti-eye"></i></a>
								
							<a class="text-primary mr-3 font-16" th:href="@{chauffeurs/edit/{id}(id=${chauffeur.id})}"
								href="javascript:;"><i class="ti-pencil"></i></a>
								
							<a class="text-danger mr-3 font-16"
								th:href="@{chauffeurs/delete/{id}(id=${chauffeur.id})}"
								href="javascript:;" onclick="return confirm('Êtes-vous sûr de supprimer cet élément?');">
								<i class="ti-trash ti-3x"></i></a>

								<!--#Modal form for user View--> <!-- Modal -->
								
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" 
								aria-hidden="true" th:attrappend="id=${chauffeur.id}">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Information Chauffeur</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
											
											<div align="center">
											
											    <h2>Détail Chauffeur</h2>
    											<span-view>Nom : </span-view><span-view th:text="${chauffeur.nom}"></span-view><br/>
    											<span-view>Prenom : </span-view><span-view th:text="${chauffeur.prenom}"></span-view><br/>
    											<span-view>N° Permis : </span-view><span-view th:text="${chauffeur.permis}"></span-view><br/>
    											<span-view>Type Permis : </span-view><span-view th:text="${chauffeur.typePermis}"></span-view><br/>
    											<span-view>Date Obtenation : </span-view><span-view th:text="${chauffeur.dateObtention}"></span-view><br/>

											</div>
											
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!--End view form--> 
								
						</td>
						</tr>




					</tbody>
				</table>
			</div>




		</div>
	</div>


</body>
</html>
