<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Categories</title>
<style type="text/css">
    span-view {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>

</head>

<body>
	<!-- START PAGE CONTENT-->
	<div class="page-content fade-in-up" data-layout-fragment="content">
		
		<div class="page-heading">
                <h1 class="page-title">Categories</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/}"><i class="ti-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Depot</li>
                    <li class="breadcrumb-item">Categorie</li>
                </ol>
         </div>
            
		<br></br>
		
		<div class="ibox">
			<div class="ibox-head">
				<div class="ibox-title">Liste Categories</div>
			</div>
			<div class="ibox-body">
				<a class="btn btn-rounded btn-primary btn-air"
					th:href="@{categories/addCategorie}">Ajouter Categorie</a> <br></br>
				<table class="table table-striped table-bordered table-hover"
					id="example-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Code Categorie</th>
							<th>Nom Categorie</th>
							<th>Description</th>
							<th width="125px">Option</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Code Categorie</th>
							<th>Nom Categorie</th>
							<th>Description</th>
							<th width="125px">Option</th>
						</tr>
					</tfoot>
					<tbody>


						<tr th:each="categorie : ${categories}">
							<td th:text="${categorie.code}"></td>
							<td th:text="${categorie.nom}"></td>
							<td th:text="${categorie.description}"></td>
							<td>
							
							<a class="text-info mr-3 font-16 vBtn"
								href="javascript:;" data-toggle="modal" data-target="#myModal"
								th:attrappend="data-target=${categorie.id}"><i class="ti-eye"></i></a>
								
							<a class="text-primary mr-3 font-16" th:href="@{categories/edit/{id}(id=${categorie.id})}"
								href="javascript:;"><i class="ti-pencil"></i></a>
								
							<a class="text-danger mr-3 font-16"
								th:href="@{categories/delete/{id}(id=${categorie.id})}"
								href="javascript:;" onclick="return confirm('Êtes-vous sûr de supprimer cet élément?');">
								<i class="ti-trash ti-3x"></i></a>

								<!--#Modal form for user View--> <!-- Modal -->
								
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" 
								aria-hidden="true" th:attrappend="id=${categorie.id}">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Information Categorie</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
											
											<div align="center">
											    <h2>Détail Categorie</h2>
    											<span-view>Code : </span-view><span-view th:text="${categorie.code}"></span-view><br/>
    											<span-view>Nom : </span-view><span-view th:text="${categorie.nom}"></span-view><br/>
    											<span-view>Description : </span-view><span-view th:text="${categorie.description}"></span-view><br/>

											</div>
											
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!--End view form--> 
								
						</td>
						</tr>




					</tbody>
				</table>
			</div>




		</div>
	</div>


</body>
</html>
