<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Marches</title>


</head>

<body>
	<!-- START PAGE CONTENT-->
	<div class="page-content fade-in-up" data-layout-fragment="content">

		<div class="page-heading">
			<h1 class="page-title">Marches</h1>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}"><i
						class="ti-home font-20"></i></a></li>
				<li class="breadcrumb-item">Commercial</li>
				<li class="breadcrumb-item"><a th:href="@{/marches}">Marches</a></li>
			</ol>
		</div>

		<br></br>

		<div class="ibox">

			<div class="ibox-head">
				<div class="ibox-title">Ajouter nouvel Marche</div>
			</div>

			<div class="ibox-body">
				<form class="form-horizontal" id="form-sample-1"
					novalidate="novalidate" action="#" th:action="@{/marches/add}"
					th:object="${marche}" method="post">
					<div class="form-group row">

						<label class="col-sm-2 col-form-label">Code Marche</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{codeMarche}" class="form-control"
								id="codeMarche" placeholder="Code Marche" required="true"> <span
								th:if="${#fields.hasErrors('codeMarche')}" th:errors="*{codeMarche}"
								class="text-danger"></span>

						</div>

					</div>
				
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Beneficiaire</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{beneficiaire}" class="form-control"
								id="beneficiaire" placeholder="Beneficiaire" required="true"> <span
								th:if="${#fields.hasErrors('beneficiaire')}" th:errors="*{beneficiaire}"
								class="text-danger"></span>
						</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Region</label>
						<div class="col-sm-6">
							 <select class="form-control select2_demo_1" th:field="*{region}">
							 	<option th:each="t : ${listRegions}" th:value="${t.id}" th:text="${t.nom}" />
                             </select>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6 ml-sm-auto">
							<div class="text-right">
								<button id="send" type="submit"
									class="btn btn-primary btn-air mr-2">Submit</button>
								<a th:href="@{/marches}" class="btn btn-secondary">Cancel</a>	

							</div>
						</div>
					</div>

				</form>
			</div>
		</div>


	</div>


</body>
</html>
