<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Clients</title>


</head>

<body>
	<!-- START PAGE CONTENT-->
	<div class="page-content fade-in-up" data-layout-fragment="content">
		
		<div class="page-heading">
                <h1 class="page-title">Clients</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/}"><i class="ti-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Commercial</li>
                    <li class="breadcrumb-item">Clients</li>
                </ol>
         </div>
            
		<br></br>
		
		<div class="ibox">
			<div class="ibox-head">
				<div class="ibox-title">Liste Clients</div>
			</div>
			<div class="ibox-body">
				<a class="btn btn-rounded btn-primary btn-air"
					th:href="@{clients/addClient}">Ajouter Client</a> <br></br>
				<table class="table table-striped table-bordered table-hover"
					id="example-table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Adress</th>
							<th>Mobile</th>
							<th width="125px">Option</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Nom</th>
							<th>Prenom</th>
							<th>Adress</th>
							<th>Mobile</th>
							<th width="125px">Option</th>
						</tr>
					</tfoot>
					<tbody>


						<tr th:each="client : ${clients}">
							<td th:text="${client.nom}"></td>
							<td th:text="${client.prenom}"></td>
							<td th:text="${client.adress}"></td>
							<td th:text="${client.mobile}"></td>
							<td>
							
							<a class="text-info mr-3 font-16 vBtn"
								href="javascript:;" data-toggle="modal" data-target="#myModal"
								th:attrappend="data-target=${client.id}"><i class="ti-eye"></i></a>

								<!--#Modal form for user View--> <!-- Modal -->
								
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" 
								aria-hidden="true" th:attrappend="id=${client.id}">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Information Client</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
											
											<form class="form-horizontal" action="#" method="post">
													<fieldset>
														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="nom">Nom</label>
															<div class="col-md-6">
																<input id="nom" name="nom" type="text" placeholder="nom"
																	disabled="disabled" class="form-control input-md"
																	th:value="${client.nom}" />
															</div>
														</div>

														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="prenom">Prenom
															</label>
															<div class="col-md-6">
																<input id="prenom" name="prenom" disabled="disabled"
																	type="text" placeholder="prenom"
																	class="form-control input-md"
																	th:value="${client.prenom}" />
															</div>
														</div>


														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="adress">Adress</label>
															<div class="col-md-6">
																<input id="adress" name="adress" type="text"
																	disabled="disabled" placeholder="adress"
																	class="form-control input-md"
																	th:value="${client.adress}" />
															</div>
														</div>


														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="mobile">Mobile</label>
															<div class="col-md-6">
																<input id="mobile" name="mobile" type="text"
																	disabled="disabled" placeholder="mobile"
																	class="form-control input-md"
																	th:value="${client.mobile}" />
															</div>
														</div>

													</fieldset>
												</form>
											
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!--End view form--> 
								
								<a class="text-primary mr-3 font-16" th:href="@{clients/edit/{id}(id=${client.id})}"
								href="javascript:;"><i class="ti-pencil"></i></a>
								
								<!--
								<a class="text-primary mr-3 font-16"
								href="javascript:;"   data-toggle="modal" data-target="#myModalUpdate"
								th:attrappend="data-target=${client.id}"><i class="ti-pencil"></i></a>
								-->
								<!--#Modal form for user update--> <!-- Modal -->
								
								<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" 
								aria-hidden="true" th:attrappend="id=${client.id}">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLongTitle">Information Client</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
											
											<form class="form-horizontal" action="#" th:action="@{/clients/update/{id}(id=${client.id})}" th:object="${client}" method="post">
													<fieldset>
														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="nom">Nom</label>
															<div class="col-md-6">
																<input id="nom" name="nom" type="text" placeholder="nom"
																	 class="form-control input-md"
																	th:value="${client.nom}" />
															</div>
														</div>

														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="prenom">Prenom
															</label>
															<div class="col-md-6">
																<input id="prenom" name="prenom"
																	type="text" placeholder="prenom"
																	class="form-control input-md"
																	th:value="${client.prenom}" />
															</div>
														</div>


														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="adress">Adress</label>
															<div class="col-md-6">
																<input id="adress" name="adress" type="text"
																 placeholder="adress"
																	class="form-control input-md"
																	th:value="${client.adress}" />
															</div>
														</div>


														<!-- Text input-->
														<div class="form-group">
															<label class="col-md-4 control-label" for="mobile">Mobile</label>
															<div class="col-md-6">
																<input id="mobile" name="mobile" type="text"
																	placeholder="mobile"
																	class="form-control input-md"
																	th:value="${client.mobile}" />
															</div>
														</div>

													</fieldset>
												</form>
											
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
												<button id="send" type="submit" class="btn btn-primary btn-air mr-2">Submit</button>
                               
											</div>
										</div>
									</div>
								</div>
								<!--End update form--> 
								
								
								
								
								
								
								
								
								
								
								
								<a class="text-danger mr-3 font-16"
								th:href="@{clients/delete/{id}(id=${client.id})}"
								href="javascript:;" onclick="return confirm('Êtes-vous sûr de supprimer cet élément?');"><i class="ti-trash ti-3x"></i></a>
						</td>
						</tr>




					</tbody>
				</table>
			</div>




		</div>
	</div>


</body>
</html>
